<h1>School: </h1>

<ol>
  <li> Id: <%= customer['id']  %></li>
  <li> Name: <%= customer['name']  %></li>
  <li> Email:<%= customer['email']  %></li>
  <li> Status:<%= customer['status']  %></li>
  <li><%= link_to "destroy", customer_path(customer['id']), method: :delete %></li>
  <li><%= link_to "show", customer_path(customer['id']) %></li>

</ol>
